@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Rubik:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
}

nav{
    .container{
        background: rgb(127, 127, 127);
        margin-top: 20px;
        padding-top: 20px;
        max-width: 1400px;
        padding: 0 24px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding-top: 10px;

        .search-field{
        padding: 10px 15px;
        width: 310px;
        height: 48px;
        font-size: 1rem;
        line-height: 1.5em;
        background: transparent;
        color: #373D41;
        background-clip: padding-box;
        border: 1px solid #C5C5C7;
        box-shadow: none;
        border-radius: 8px;
        border: 1px solid var(--text-in-field, #CCC);
        margin-left: 24px;
    }
    }
    h2{
        color: var(--text-tittle, #1C3554);
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
    }

    .nav__menu{
        display: flex;
        align-items: center;

        .select{
            display: flex;
            align-items: center;
            gap: 1px;
            p{
                color: var(--text-white, #FFF);
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 700;
                line-height: 32px;
                padding-left: 40px;
            }
        }

        h2{
            color: var(--text-white, #FFF);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 32px; 
            padding-left: 24px;
        }

        .nav__btns{
            margin-left: 24px;
            display: flex;
            align-items: center;
            gap: 16px;
            .nav__btn1{
                border-radius: 8px;
                border: 1px solid var(--text-white, #FFF);
                color: var(--text-white, #FFF);
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; 
                background: transparent;
                padding: 8px 32px;
            }

            .nav__btn2{
                border-radius: 8px;
                background: var(--primary-pink, #F72585);
                color: var(--other-white, #FFF);
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; 
                padding: 8px 32px;
                border: none;
            }
        }
    }
}

.hero{
    background: rgba(127,127,127,255);
    .hero__container{
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 24px;

        .hero__link{
            a{
                color: var(--text-disable, #E6E6E6);
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; 
                text-decoration: none;
                padding-right: 8px;
                align-items: center;
                gap: 5px;
                &:hover{
                    color: var(--text-white, #FFF);
                }
            }
        }
        h1{
            color: var(--text-white, #FFF);
            font-family: Rubik;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: 88px; 
            padding-top: 72px;
            padding-bottom: 120px;
        }
    }
}

.card__parent{
    margin-top: 96px;
    .card{
        display: flex;
        align-items: center;
        margin-top: 56px;
        gap: 50px;
        h2{
            color: var(--text-tittle, #1C3554);
            font-family: Rubik;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
            text-transform: capitalize;
            max-width: 552px;
        }

        .card__text__span{
            display: flex;
            gap: 16px;
            align-items: center;
            margin-top: 16px;
            text-align: center;
        }
        p{
            max-width: 552px;
            color: var(--text-body, #808080);
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px; 
            padding-top: 16px;
        }
    }
    .blog__select{
        display: flex;
        gap: 16px;
        justify-content: center;
        padding-top: 57px;
        button{
            border: none;
            background: transparent;
            color: var(--text-in-field, #CCC);
            text-align: center;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            padding: 10px 20px;
            border-radius: 4px;
            transition: .3s;
            margin-bottom: 160px;

            &:hover{
                background: var(--primary-pink, #F72585);
            }
        }
    }
}

.footer{
    &__container{
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 24px;    
        background: var(--other-navy, #021934);
        padding-top: 80px;
        display: flex;
        gap: 120px;

        h3{
            color: var(--text-white, #FFF);
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px; 
            max-width: 500px;
            padding-top: 36px;
        }

        .footer__right__bottom{
            display: flex;
            gap: 40px;

            p{
                color: var(--text-white, #FFF);
                text-align: center;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 27px; 
                padding-top: 139px;
            }
        }

        .footer__left{
            .left__all{
                display: flex;
                .left{
                    p{
                        color: var(--text-white, #FFF);
                        font-family: Montserrat;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px; 
                    }

                    h2{
                        color: var(--text-white, #FFF);
                        font-family: Rubik;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px; 
                        justify-content: center;
                    }
                    &:nth-child(2){
                        padding-left: 100px;
                    }

                    &:last-child{
                        padding-left: 100px;
                    }
                }
            }
            .footer__left__bottom{
                p{
                    padding-top: 400px;
                    color: var(--text-white, #FFF);
                    text-align: right;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 27px; /* 168.75% */
                }
            }
        }
    }
}

#backtop {
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
    color: #333;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: -50px;
    cursor: pointer;
    z-index: 99;
    transition: 0.6s;
  }
  
@media (max-width: 768px){
    .card{
        flex-direction: column;
        text-align: center;
    }

    .left{
        &:last-child{
            display: none;
        }
    }

    .nav__menu{
        display: none;
    }
}

.select{
    display: flex;
    align-items: center;
    gap: 1px;
    padding: 0;
    text-decoration: none;
    p{
        color: var(--text-white, #000);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 32px;
        padding-left: 24px;
    }
}
#backtop {
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
    color: #333;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: -50px;
    cursor: pointer;
    z-index: 99;
    transition: 0.6s;
  }

  .nav-link {
    text-decoration: none;
    color: #777;
    font-size: 20px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    padding: 12px;
  }
  
  .dropdown-content .nav-link {
    display: block;
    padding-bottom: 8px;
  }
  
  .dropdown:hover{
    .dropdown-content {
        display: block;
      }
  }